<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/register.css">
    <title>Register new password</title>
</head>

<body>

    <div id="login-container">
        <div id="left">
            <h1>Admin Center</h1>
            <h2>Inscription</h2>
        </div>
        <form action="/register" method="post">
            <input type="password" name="password" id="password" placeholder="Mdp admin center" required>
            <button type="submit">Envoyer</button>
        </form>
    </div>


</body>

</html>